*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}

.container{
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);-nije responsive osim ako ne ukljucim u media querije i na break point-ima ne podesavam manualno*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ovo je responzivan nacin da se kako smanjujemo ekran prilagoduju i kucice*/
    /* grid grid-auto-rows: minmax(200px, auto); */
    /*grid-template-rows:repeat(3, 1fr); */
    gap: 10px;

}

.item{
    background: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: 1px solid skyblue;
}